* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    color: burlywood;
    background-color: rgba(50, 71, 50, 0.977);
}

h1 {
    font-size: 100px;
    font-style: italic;
    margin: 10px;
}

li {
    display: inline-block;
    margin: 1rem;
    cursor: pointer;
    font-size: 40px;
}

li:hover {
    font-size: xx-large;
}

footer {
    height: 250px;
}

